.fullScreen{
    width: 100%;
    min-width: 1190px;
    background-color: #f1f1f1;
}

.loginInfo{
    margin-left: 30px;
}

.loginInfo a{
	display:none;
    color: #808080;
    font-size: 12px;
}

.goodInfoWrap{
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    width: 1190px;
}

/** 浮动 **/
.fl{
    float: left;
}

.fr{
    float: right;
}

.carthead{
    overflow: hidden;
}

.desc{
    margin: 28px 0 0 10px;
    font-size: 18px;
    color: #666666;
}

.carhead li{
    display: block;
}

/*mycart*/
#cart{
    margin: 20px 0;
    margin-bottom: 100px;
}

.cart-main{
	min-height: 500px;
}

.cart-main  p{
	line-height: 100px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.cart-main .cart-thead {
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 5px 0;
    background-image: url("../img/cart-head_bg.png");
    background-repeat: repeat;
}

.cart-main .cart-thead .column {
    float: left;
    color: #ffffff;
    font-size: 14px;
}

.cart-main .cart-thead .t-checkbox {
    height: 18px;
    line-height: 18px;
    padding-top: 7px;
    width: 122px;
    padding-left: 11px;
}

.cart-main .cart-thead .t-goods {
    width: 268px;
}

.cart-main .cart-thead .t-props {
    width: 80px;
    height: 32px;
    padding: 0 20px;
}

.cart-main .cart-thead .t-price {
    width: 120px;
    padding-right: 40px;
    text-align: right;
}

.cart-main .cart-thead .t-quantity {
    width: 80px;
    text-align: center;
}

.cart-main .cart-thead .t-sum {
    width: 100px;
    padding-right: 40px;
    text-align: right;
}

.cart-main .cart-thead .t-action {
    width: 75px;
}

.cart-main .cart-thead:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.cart-item-list {
    margin-bottom: 20px;
}

.item-list {

}

.cart-tbody{
    min-height: 300px;
    border-bottom: 1px solid #dddddd;
}

.cart-tbody .item-selected, .cart-tbody .item-selected .single-header {
    background: #f8f6e6;
}

.cart-tbody .item-item {
    position: relative;
    padding: 0 10px 1px 40px;
    line-height: 20px;
}

.cart-tbody .item-item .p-checkbox {
    position: absolute;
    z-index: 3;
    left: 10px;
    top: 0;
    width: 30px;
    min-height: 10px;
}
.cart-tbody .item-item .cell {
    float: left;
    padding: 15px 0 10px;
}

.cart-checkbox {
    position: relative;
    z-index: 3;
    float: left;
    margin-right: 5px;
}

.cart-tbody .item-item .p-goods {
    width: 360px;
}

.cart-tbody .item-item .goods-item .p-img {
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    margin-right: 10px;
    background: #fff;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.cart-tbody .item-item .p-props {
    width: 80px;
    min-height: 10px;
    padding: 15px 20px;
}

.cart-tbody .item-item .p-props-new {
    width: 100px;
    height: 80px;
    line-height: 20px;
    overflow: hidden;
    padding: 15px 10px 0;
}

.cart-tbody .item-item .p-props-new .props-txt {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}

.cart-tbody .item-item .p-props-new .props-txt {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}

.cart-tbody .item-item .p-price {
    width: 120px;
    padding-right: 40px;
    font-family: verdana;
    text-align: right;
}

.cart-tbody .item-item .p-price strong {
    display: block;
    color: #333;
    font-weight: 400;
}

.cart-tbody .item-item .goods-item .p-name {
    height: 40px;
    line-height: 20px;
}

.cart-tbody .item-item .goods-item .p-name a {
    color: #333;
}

.cart-tbody .item-item .goods-item .p-name .p-caption{
    display: block;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cart-tbody .item-item .p-props {
    width: 80px;
    min-height: 10px;
    _height: 10px;
    padding: 15px 20px;
}

.cart-tbody .item-item .p-props-new {
    width: 100px;
    height: 80px;
    line-height: 20px;
    overflow: hidden;
    padding: 15px 10px 0;
}

.cart-tbody .item-item .p-props-new .props-txt {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}

.cart-tbody .item-item .p-props-new .props-txt {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}

.cart-tbody .item-item .p-quantity {
    width: 80px;
    text-align: center;
}

.cart-tbody .item-item .p-quantity .quantity-form {
    position: relative;
    overflow: hidden;
    height: 22px;
    width: 80px;
}

.cart-tbody .item-item .p-sum {
    width: 100px;
    padding-right: 40px;
    text-align: right;
    font-family: verdana;
}

.cart-tbody .item-item .p-sum strong {
    color: #333;
    font-weight: 700;
}

.cart-tbody .item-item .p-ops {
    width: 75px;
}

.cart-tbody .item-item .p-ops a {
    color: #666;
    display: inline-block;
}

.cart-tbody .item-item .p-ops a:hover {
	cursor:pointer;
    color: #FF0000;
}

.item-form{
    border-bottom: 1px solid #dddddd;
}

.cart-tbody .item-item .item-form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.cart-checkbox label{
    display: none;
}

.joincart{
	margin-left:20px;
	padding: 8px 23px;
	background-color: #ff0000;
	color:#FFFFFF;
	border-radius:4px;
	font-weight: bold;
}

.fav-opt-btn{
	text-align: right;
	height: 30px;
	line-height:30px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}