html,body{
    width: 100%;
    height: 100%;
}

.center{
	width: 100%;
}

.centers{
	margin: 0 auto;
	width: 1190px;	
}

.cenLeft ul li {
    margin: 5px 0;
    color: #333333;
    font-size: 13px;
}

.cenLeft ul li.white{
    margin-bottom: 15px;
    padding: 3px 5px;
    font-size: 14px;
}

.orderCenter a{
	text-align: center;
	line-height: 20px;
	color: #ffffff;
}
.orderCenter{
	background-color: #fbc400;
	width:91px;
	height: 20px;
}
.font a{
	font-weight:normal;
	font-size: 12px;
	color: #333333;
}
.cenRight{
	margin-top:0px;
	width: 1050px;
	float: left;
}

.state a{
	color: #333;
	font-family: 'yahei';
}

.orderdetail{
	width: 96px;
    height: 30px;
    background-color: #FBC400;
    border: 1px solid #fbc400;
    line-height: 30px;
    font-family: '雅黑';
    font-size: 12px;
}

.state .checked{
	color: #ec6942;
}

.orderdetail a{
	color:#fff;
}
.cenRights{
	margin-top:30px;
	width: 1042px;
	float: left;
}
.cenRightTop{
	width: 660px;
	float: left;
	height:430px;
	margin-left:20px;
	background-color: #f9f7e7;
}

.tieTop{
	height: 40px;
	background-image: url("../img/demo/fankui_bj.png");
}
.anniu{
	margin-left: 40px;
	margin-top: 30px;
}
.state{
	margin-left:20px;
	margin-top:30px;
	width: 1050px;
	height: 20px;
}

.cenRightCenter{
	padding-left:20px;
	margin-top:18px;
	width: 1050px;
	height: 32px;
	border-radius: 8px;
	background-color: #fff;
}
.cenRightCenter td{
	line-height: 32px;
}
.cenRightBottom{
	margin-left:20px;
}
.cenRightBottom tr{
	border-bottom: 1px solid #dddddd;	
}
.cenRightBottom td{
	height:122px;
	vertical-align: middle;
}
.btn{
	width: 96px;
	height: 30px;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #FBC400;
	border: 1px solid #fbc400;
}

.btn:HOVER{
	font-size: 16px;
	cursor: pointer;
}

.orderdetail:HOVER{
	font-size: 16px;
	cursor: pointer;
}
.delete{
	width: 96px;
	height: 30px;
	font-size: 14px;
	color: #666666;
	background-color: #F8F6E6;
	border: 1px solid #fbc400;
}


.cenRightTop ul li{
	cursor:pointer;
	font-size:12px;
	float: left;	
	margin: 0px 8px;
}
.cenRightTop ul{
	margin-top:30px;
	margin-left: 15px;
}
.cur{
	color: red;
	font-weight: bold;
}

.taDa{
	font-size: 14px;
	color:#333333;
}
.mingcheng{
	font-size: 14px;
	font-weight:bold;
	color:#333333;
	height: 60px;
    line-height: 60px;
}

.jiage{
	font-size: 14px;
	font-weight:bold;
	color:#333333;
    line-height: 90px;
}

.img{
	margin-top: 15px;
}

.mingcheng a{
	color: #333333;
}

.zhuangtai{
	font-size: 12px;
	color:#fbc400;
}
.miaoshu{
	font-size: 13px;
	color:#666666;
}
.dindan{
	font-size: 12px;
	color:#333333;
}
.tie{
	color: #fbc400;
	font-size: 16px;
	font-weight: bold;
	margin-left: 20px;
}
.tieBtm{
	margin-top: 20px;
}

.tit{
	width:100px; 
	text-align: right;
	padding:30px 0;
}

.tits{
	padding-left: 20px;
}
.tits input{
	padding: 4px;
}
.tits textarea{
	padding: 4px;
}
.biaoti-block,.neirong-block{
	color: #ff0000;
	
}
.radio{
	margin-left: 20px;
}

#btn{
	height: 33px;
	width: 76px;
	border-radius: 5px;
	border: none;
	background-color: #fbc400;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}

#btn:HOVER {
	cursor: pointer;
}

span.requiredField {
	line-height: 28px;
	margin-right: 2px;
	color: #ff6d6d;
	font-size: 10px;
}

