.hide{
	display: none;
}

.content-wrap{
	width:100%;
	min-width:1190px;
	height:650px;
}


.content{
	margin:0 auto;
	padding-top:70px;
	width:600px;
}

.desc{
	padding:10px 0;
	font-size: 18px;
	color:#666666;
}

.userinfo{
	margin-top:50px;
}

.userinfo li{
	padding-left:90px;
	height: 50px;
	line-height:50px;
}

.userinfo li input{
	padding:4px;
	width:260px;
    height: 18px;
    line-height: 18px;
    color: #999999;
    border: 1px solid #dedede;
}

.userinfo li img{
	vertical-align: middle;
}

.userinfo li .captcha {
	width: 160px;
    text-transform: uppercase;
}

.userinfo li input.commit-btn{
	margin-left:50px;
	padding: 7px 28px;
	height:40px;
	background-color: #ff0000;
	color:#ffffff;
	font-weight: bold;
	cursor:pointer;
	border-radius:5px;
	border:none;
}

.fieldError{
	color:#ff0000;
}

.userinfo li.errorinfo{
	padding-left: 140px;
	color:#ff0000;
}


.findpwdnav{
	
}

.findpwdnav li{
	display:inline-block;
	height: 30px;
}

.findpwdnav li.content{
	width:80px;
}

.findpwdnav li.line{
	width:220px;
}

.findpwdnav li b{
	display: inline-block;
	width: 100%;
	border: 2px solid #cccccc;
}