.hide{
	display: none;
}

.content-wrap{
	width:100%;
	min-width:1190px;
	height:630px;
}


.content{
	margin:0 auto;
	margin-top:70px;
	width:900px;
}

.desc{
	padding:10px 0;
	font-size: 18px;
	color:#666666;
}

.userinfo{
	margin-top:50px;
}

.userinfo li{
	padding-left:90px;
	height: 50px;
	line-height:50px;
}

.userinfo li input{
	padding:4px;
	width:260px;
    height: 18px;
    line-height: 18px;
    color:#333333;
}

.userinfo li img{
	vertical-align: middle;
}

.userinfo li input.commit-btn{
	margin-left:50px;
	padding: 7px 28px;
	height:40px;
	background-color: #ff0000;
	color:#ffffff;
	font-weight: bold;
	cursor:pointer;
	border-radius:5px;
	border:none;
}

.fieldError{
	color:#ff0000;
}

.userinfo li.errorinfo{
	padding-left: 140px;
	color:#ff0000;
}

.findpwdnav li{
	display:inline-block;
	height: 30px;
	background-color: #ffffff;
}

.findpwdnav li.nav{
	padding: 4px 10px;
	vertical-align:middle;
	width:130px;
	text-align: center;
	height: 50px;
}

.findpwdnav li.line{
	width:180px;
}

.findpwdnav li b{
	display: inline-block;
	width: 100%;
	border: 2px solid #cccccc;
}

.step{
	display: inline-block;
	width:30px;
	height: 30px;
	background-image: url("../img/icon/password-icon.png");
	background-repeat: no-repeat;
}

.step-desc{
	padding:4px 0;
	color:#dddddd;
	font-size: 18px;
	font-weight:bold;
}

.finished .step-desc{
	color:#fbc400;
}

.step-title{
	padding:20px 0;
	color:#666666;
}

.commit-info{
	padding-left:60px;
	font-size: 18px;
	color#666666;
}

.commit-info li{
	padding:10px 0;	
}

.commit-info li span{
	display:block;
	float:left;
}

.content-info{
	width:600px;
	text-align: left;
	line-height: 25px;
}

.nomsg-error-info{
	margin-top:40px;
	padding:20px 10px;
	clear: both;
	background-color: #f4edd3;
}

.nomsg-error-info p{
	line-height: 30px;
}

.nomsg-error-info-title{
	font-size: 16px;
	color:#333333;
	font-weight: blod;
}

.nomsg-error-info-content{
	padding-left:20px;
}

.sendcode{
	margin: 5px 0;
	padding:0 20px;
	font-size:14px;
	background-color:#f5f5f5;
	color:#999999;
	cursor: pointer;
	border:1px solid #999999;
	border-radius:3px;
}

.has-sendcode{
	margin: 5px 0;
	width:140px;
	font-size: 12px;
	padding:5px;
	background-color:#cccccc;
	color:#999999;
	text-align: center; 
}

#sec-time{
	display: inline;
	float: none;
}

.has-sendcode-tips{
	margin: 5px 0;
	font-size:14px;
	color:#cccccc;
}

.content-info input{
	line-height: 25px;	
}

.content-info .submit{
	margin: 20px 0;
	padding: 2px 20px;
	color:#ffffff;
	background-color: #fbc400;
	font-size: 16px;
	border-radius:4px;
	cursor: pointer;
	border:none;
}

.code-value{
	width: 80px;
	border:1px solid #5faade; 
}

#error-info{
	font-size:14px;
	color:#FF0000;
}

.content-label{
	padding: 2px 0;
	text-align: right;
	width: 160px;
}

.content-form{
	margin:0 auto;
	margin-top:100px;
	width: 600px;
}

.item{
	padding:10px 0;
}

.item span{
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
	font-size:18px;
	color:#666666;
}

.item span input{
	vertical-align: middle;
	width:200px;
	height: 26px;
}

.item span.commit{
	padding:2px 20px;
	color:#ffffff;
	background-color: #fbc400;
	border-radius:3px;
	cursor: pointer;
}
